# Dependencies
**/node_modules/
**/.venv/
.skills-data/

# Build outputs
**/.nuxt/
**/.output/
**/dist

# Environment
**/.env
**/.env.*
**/*.env.local

# Database
**/whoami*.db
**/*.sqlite3

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/uv.lock
*.zip

# OS
**/.DS_Store
**/Thumbs.db

# IDE
.idea/
.vscode/

# Logs
**/logs/
*.log
